:root{
	--primary: #528DE2;
	--secondary: #818cab;
    --font: #161625;
    --bg: #FFFFFF;
    --heading: #FFFFFF;

    --radius: 10px;
	--font-size: 14px;
	--header-size: 16px;
	--container-width: 250px;
	--container-height: 350px;

    --date-padding: 3px;
}

[data-theme="card"]{
    --primary: #ffffff;
    --secondary: #ffffff00;
    --font: #161625;
    --bg: #ffffff;
    --heading: #161625;

    --shadow: 5px 5px 3px 0px rgba(0,0,0,0.3);
    --card-margin: 10px;
    --date-padding: 0px;
}

[data-theme="orange"]{
    --primary: #f57c00;
    --secondary: #818cab;
    --font: #ffffff;
    --bg: #37474f;
    --heading: #ffffff;
}

[data-theme="dark"] {
    --primary: #9A97F3;
    --secondary: #818cab;
    --font: #e1e1ff;
    --bg: #161625;
    --heading: #e1e1ff;
}

.ms-cal-card{
	background-color: var(--bg);
	box-shadow: var(--shadow);
	margin: var(--card-margin);
}

.ms-cal-container{
	background-color: var(--bg);
	width: var(--container-width);
	height: var(--container-height);
	border: 1px solid;
	overflow: auto;
	border-color: var(--secondary);
}

.ms-cal-date{
	background-color: var(--primary);
	font-weight: bold;
	margin: 5px;
	border-radius: var(--radius);
	padding-left: var(--date-padding);
	color: var(--heading);
	font-size: var(--font-size);
}

.ms-cal-item{
	padding-left: 5px;
	border: var(--secondary);
	border-bottom: 1px solid;
	border-color: var(--secondary);
	color: var(--font);
	font-size: var(--font-size);
}

.ms-cal-no-events{
	margin-left: 5px;
	font-weight: bold;
	color: var(--font);
	font-size: var(--font-size);
}