:root{
	--primary: #528DE2;
	--secondary:  #121212;
}

.ms-cal-container{
	background-color: white;
	width: 400px;
	height: 350px;
	border: 1px solid;
	overflow: auto;
	border-color: var(--secondary);
}

.ms-cal-date{
	background-color: var(--primary);
	font-weight: bold;
	margin: 5px;
	border-radius: 10px;
	padding-left: 3px;
	color: white;
}

.ms-cal-item{
	padding-left: 5px;
	border: var(--secondary);
	border-bottom: 1px solid;
	border-color: var(--secondary);
}

.ms-cal-no-events{
	margin-left: 5px;
	font-weight: bold;
}